body {
	background: #5a8ee2;
	font-family: 'Arimo', sans-serif;
}

.page-header {
	padding-left: 10px;
	margin-left: 10px;
}

.gif {
	display: inline-block;
	margin-left: 15px;
}

button {
	background-color: #1f51a3;
	border-color: #a32408;
}

.btn-default {
	color: white;
	background-color: #1f51a3;
	border-color: #a32408;
	padding: 5px 5px 5px 5px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-default:active {
	color: white;
	background-color: #1f51a3;
	border-color: #a32408;
	padding: 5px 5px 5px 5px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-default:visited {
	color: white;
	background-color: #1f51a3;
	border-color: #a32408;
	padding: 5px 5px 5px 5px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-default:focus {
	color: white;
	background-color: #1f51a3;
	border-color: #a32408;
	padding: 5px 5px 5px 5px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-default:hover {
	color: white;
	background-color: pink;
	border-color: orange;
	border-style: solid 3px purple;
	font-family: 'Exo', sans-serif;
}

a {
	color: white;
}

.glyphicon-copyright-mark {
	color: white;
}

@media (min-width: 992px) {
  #gifInput, #gifDisplay {
    float: right;
  }
}