body {
	background: #E5E4E2;
	font-family: 'Arimo', sans-serif;
}

.page-header {
	padding-left: 10px;
	margin-left: 10px;
}

.gif {
	display: inline-block;
	margin-left: 15px;
}

button {
	background-color: #1f51a3;
	border-color: #a32408;
}

.btn-success {
	background-color: #1f51a3;
	border-color: #a32408;
	padding: 5px 5px 5px 5px;
	margin-right: 3px;
}

.btn-success:hover {
	background-color: pink;
	border-color: purple;
	font-family: 'Exo', sans-serif;
}

@media (min-width: 992px) {
  #gifInput, #gifDisplay {
    float: right;
  }
}